{% extends 'new_base.html'%} 

{% block title %}
<title>My Bin</title>
{% endblock %} 

{% block customcss %}
 {% load staticfiles %} 
{% endblock %} 

{% block content %} 
<div class="container-fluid">
    <div class="row">
            <nav class="nav-extended #00796b teal darken-2" style="padding-left: 20px">
                    <div class="nav-wrapper">
                    <a href="#" class="brand-logo">My Bin (Beta)</a>
                    </div>
                    <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class=""><a href="{% url 'home' %}"><i class="material-icons">arrow_back</i></a></li>
                        <li class="tab"><a href="#random" class="active">Random Upload</a></li>
                        <li class="tab"><a href="#saved">Important</a></li>
                        <li class="tab"><a href="#archive">Archive</a></li>
                    </ul>
                    </div>
                </nav>
    </div>
    <div class="row">
        <div id="random" class="col s12">
            <div class="col s12 m8">
                
                <div class="textform">
                    <form method="POST" action="/text/new/" class="col s12 post-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default">Save</button>
                    </form>
                </div>

                <div class="" style="margin-top: 200px">
                    <h5>Recent Texts</h5>
                    {% for text in recent_texts %}
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                                <p>{{ text.text }} </p> 
                        </div>
                        <div class="card-action" style="color: white">
                                {{ text.created }} | {% if text.imp != 1 %}<a class="green btn">Not Important</a>
                                {% else %}
                                <a class="red btn">Important</a>
                                {% endif %} | <a href="{% url 'deletetext' text.id %}" class="red btn">
                                    Delete</a>
                        </div>
                    </div>
                    {% endfor %} 
                </div>
            </div>
            <div class="col s12 m4">
                    <div class="textform">
                            <form enctype="multipart/form-data" method="POST" action="/file/new/" class="col s12 post-form">
                                {% csrf_token %}
                                {{ file_form.as_p }}
                                <button type="submit" class="save btn btn-default">Save</button>
                            </form>
                        </div>
                        
                        <div class="" style="margin-top: 200px">
                            <h5 style="margin-top: 70px">Recent Files</h5>
                            {% for file in recent_files %}
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                        <p> <a target="_blank" href="{{ file.file.url }}">
                                            {% if file.name != '' %}
                                                {{ file.name }} 
                                            {% else %}
                                                No Name
                                            {% endif %} <a/> </p> 
                                </div>
                                <div class="card-action" style="color: white">
                                        {{ file.created }} |{% if text.imp != 1 %}<a class="green btn">Not Important</a>
                                        {% else %}
                                        <a class="red btn">Important</a>
                                        {% endif %} | <a href="{% url 'deletefile' file.id %}" class="red btn">
                                            Delete</a>
                                </div>
                            </div>
                            {% endfor %} 
                        </div>
            </div>
        </div> 
        <div id="saved" class="col s12">
                <div class="col s12 m8">
                    
                    <h5>Important Texts</h5>
                    {% for text in texts %}
                    {% if text.imp == 1%}
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                                <p>{{ text.text }} </p> 
                        </div>
                        <div class="card-action" style="color: white">
                                {{ text.created }} | {% if text.imp != 1 %}<a class="green btn">Not Important</a>
                                {% else %}
                                <a class="red btn">Important</a>
                                {% endif %} | <a href="{% url 'deletetext' text.id %}" class="red btn">
                                    Delete</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>
                <div class="col s12 m4">
                        <h5>Important Files</h5>
                        {% for file in files %}
                            {% if file.imp == 1 %}
                                <div class="card blue-grey darken-1">
                                    <div class="card-content white-text">
                                        <p> <a target="_blank" href="{{ file.file.url }}">
                                            {% if file.name != '' %}
                                                {{ file.name }} 
                                            {% else %}
                                                No Name
                                            {% endif %} <a/> </p> 
                                    </div>
                                    <div class="card-action" style="color: white">
                                        {{ file.created }} | <a class="red btn"> Important</a>
                                       | <a href="{% url 'deletefile' file.id %}" class="red btn">
                                            Delete</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %} 
                </div>
            </div>  
        <div id="archive" class="col s12">
                <div class="col s12 m8">
                    
                    <h5>All Texts</h5>
                    {% for text in texts %}
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                                <p>{{ text.text }} </p> 
                        </div>
                        <div class="card-action" style="color: white">
                                {{ text.created }} | {% if text.imp != 1 %}<a class="green btn">Not Important</a>
                                {% else %}
                                <a class="red btn">Important</a>
                                {% endif %} | <a href="{% url 'deletetext' text.id %}" class="red btn">
                                    Delete</a>
                        </div>
                    </div>
                    {% endfor %} 
                </div>
                <div class="col s12 m4">
                        <h5>All Files</h5>
                        {% for file in files %}
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                    <p> <a target="_blank" href="{{ file.file.url }}">
                                        {% if file.name != '' %}
                                            {{ file.name }} 
                                        {% else %}
                                            No Name
                                        {% endif %} <a/> </p> 
                            </div>
                            <div class="card-action" style="color: white">
                                    {{ file.created }} |{% if text.imp != 1 %}<a class="green btn">Not Important</a>
                                    {% else %}
                                    <a class="red btn">Important</a>
                                    {% endif %} | <a href="{% url 'deletefile' file.id %}" class="red btn">
                                        Delete</a>
                            </div>
                        </div>
                        {% endfor %} 
                </div>
            </div> 
</div>
</div>
{% endblock %} 


{% block customjs %}
<script>
   $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>

{% endblock %} 