{% extends 'base.html'%}

{% block title %}
<title>Hi! This is Muiz..</title>
{% endblock %}

{% block content %}
<div class="container" style="text-align: center">
    <br>
    {% load static %}
    <img src="{{ content.dp.url }}" alt="Muiz" class="rounded" height="25%" width="25%">
    <br>
    
    <p>{{ content.short_des | safe }} </p> 

    <a class="btn btn-light"  target=”_blank” href="{{ content.resume.url }}">See My Resume..</a><br>
    
    <h5>Find me on Social Media!</h5>
    <a data-toggle="tooltip" title="Facebook" class="btn btn-light" target=”_blank” href="https://www.facebook.com/muiz07"><i class="fab fa-facebook-square"></i></a>
    <a data-toggle="tooltip" title="Twitter" class="btn btn-light" target=”_blank” href="https://twitter.com/MuizZer07"><i class="fab fa-twitter"></i></a>
    <a data-toggle="tooltip" title="linkedin" class="btn btn-light" target=”_blank” href="https://www.linkedin.com/in/muiz-ahmed-khan/"><i class="fab fa-linkedin"></i></a>
    <a data-toggle="tooltip" title="github" class="btn btn-light" target=”_blank” href="https://github.com/MuizZer07"><i class="fab fa-github-square"></i></a>
    <a data-toggle="tooltip" title="instagram" class="btn btn-light" target=”_blank” href="https://www.instagram.com/muizzer07/"><i class="fab fa-instagram"></i></a>

</div>
<div style="padding: 30px">
    <blockquote class="blockquote">
    <p class="mb-0">"Quiet people have the loudest minds."</p>
    <footer class="blockquote-footer">Stephen Hawking</footer>
    </blockquote>
</div>
    
{% endblock %}
