{% extends 'base.html'%}

{% block title %}
<title>Hi! This is Muiz..</title>
{% endblock %}

{% block customcss %}
{% load staticfiles %}
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'css/resume.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% load static %}
<div id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Muiz Ahmed Khan</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid rounded-circle mx-auto mb-2" src="{{ content.dp.url }}" alt="Muiz">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#bio">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Interests & Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" target="_blank" href="{{ content.resume.url }}">Resume</a>
                </li>
            </ul>
        </div>
        <footer class="footer">
            <a data-toggle="tooltip" title="Facebook" target=”_blank” href="https://www.facebook.com/muiz07"><i class="fab fa-facebook-square"></i></a>
            <a data-toggle="tooltip" title="Twitter" target=”_blank” href="https://twitter.com/MuizZer07"><i class="fab fa-twitter"></i></a>
            <a data-toggle="tooltip" title="linkedin" target=”_blank” href="https://www.linkedin.com/in/muiz-ahmed-khan/"><i
                    class="fab fa-linkedin"></i></a>
            <a data-toggle="tooltip" title="github" target=”_blank” href="https://github.com/MuizZer07"><i class="fab fa-github-square"></i></a>
            <a data-toggle="tooltip" title="instagram" target=”_blank” href="https://www.instagram.com/muizzer07/"><i
                    class="fab fa-instagram"></i></a>
            <br>
            <small>Muiz Ahmed Khan &copy; {%now "Y"%}</small>
        </footer>
    </nav>

    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div style="margin-top: 20px">
                <h1 class="mb-0">Muiz Ahmed
                    <span class="text-primary">Khan</span>
                </h1>
                <div class="subheading mb-5"> House # 4/c, Plot # 15, Uttar Kawla, DokhinKhan · Dhaka, CO (+880)
                    01912043657 ·
                    <br>email: <a href="mailto:muizxzer07@gmail.com">muizxzer07@gmail.com</a>
                </div>
                <p class="lead mb-5"> {{ content.short_des | safe }} </p>
                <div class="social-icons">
                    <a data-toggle="tooltip" title="linkedin" target=”_blank” href="https://www.linkedin.com/in/muiz-ahmed-khan/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a data-toggle="tooltip" title="github" target=”_blank” href="https://github.com/MuizZer07">
                        <i class="fab fa-github"></i>
                    </a>
                    <a data-toggle="tooltip" title="Twitter" target=”_blank” href="https://twitter.com/MuizZer07">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a data-toggle="tooltip" title="Facebook" target=”_blank” href="https://www.facebook.com/muiz07">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a data-toggle="tooltip" title="instagram" target=”_blank” href="https://www.instagram.com/muizzer07/">
                        <i class="fab fa-instagram"></i>
                    </a>
        
                </div>
            </div>
            <div style="padding: 30px">
                <blockquote class="blockquote">
                    <p class="mb-0" style="font-size: 15px">“Speak good or remain silent.”</p>
                    <footer class="blockquote-footer">Prophet Mohammad (S.A.W) </footer>
                </blockquote>
                <hr>
                <blockquote class="blockquote">
                    <p class="mb-0" style="font-size: 15px">“Don’t compare yourself with anyone in this world… if you do so, you are insulting
                        yourself.”</p>
                    <footer class="blockquote-footer">Bill Gates</footer>
                </blockquote>
                <hr>
                <blockquote class="blockquote">
                    <p class="mb-0" style="font-size: 15px">“Quiet people have the loudest minds.”</p>
                    <footer class="blockquote-footer">Stephen Hawking</footer>
                </blockquote>
            </div>

        </section>

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="bio">
            <div class="my-auto">
                {{ content.bio | safe }}
            </div>        
        </section>



        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>
                {{ content.education | safe }}


            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
                <h2 class="mb-5">Skills</h2>
                <div style="text-align: right;">
                        <h3><a class="button" href="{% url 'projects' %}">Find My Projects here!!</a></h3>
                        <p>
                            Project Details | Links | References.
                        </p>
                </div>
                {{ content.skill |safe }}



            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
            <div class="my-auto">
                <h2 class="mb-5">Interests</h2>
                <p>{{ content.interest | safe }}</p>
            </div>
        </section>

        <hr class="m-0">
    </div>

</div>
{% block customjs %}
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/resume.min.js' %}"></script>
{% endblock %}


{% endblock %}