<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    {% block title %} {% endblock %} {% block customcss %} {% endblock %}

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i"
      rel="stylesheet"
    />
  </head>

  <body style="background-color: #D3D3D3;">
    {% block content %} {% endblock %}
    
    
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   
    {% block customjs %} {% endblock %}

    <footer class="page-footer #263238 blue-grey darken-4 fixed-bottom" style="text-align: right;height: 150px; width: 100%; position: fixed; bottom: 0;">
        <div class="container-fluid">
          <div class="row">
            <div class="col s12 ">
              <p class="grey-text text-lighten-4"><small>This Website is managed and developed by me. Source code is available on
                  <a class="githublink" target=”_blank” href="https://github.com/MuizZer07/myprotfolio"> GitHub.</a>
                  Feel free to give any feedback or contact me on social media.</small>
              <hr>
      
              <a data-toggle="tooltip" title="Facebook" target=”_blank” href="https://www.facebook.com/muiz07"><i class="fab fa-facebook-square"></i></a>
              <a data-toggle="tooltip" title="Twitter" target=”_blank” href="https://twitter.com/MuizZer07"><i class="fab fa-twitter"></i></a>
              <a data-toggle="tooltip" title="linkedin" target=”_blank” href="https://www.linkedin.com/in/muiz-ahmed-khan/"><i
                      class="fab fa-linkedin"></i></a>
              <a data-toggle="tooltip" title="github" target=”_blank” href="https://github.com/MuizZer07"><i class="fab fa-github-square"></i></a>
              <a data-toggle="tooltip" title="instagram" target=”_blank” href="https://www.instagram.com/muizzer07/"><i class="fab fa-instagram"></i></a>
              <br>
              <small>Muiz Ahmed Khan &copy; {%now "Y"%}</small></p>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>
