{% extends 'base.html'%}

{% block title %}
<title>My Biography</title>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    {% load static %}
    
    <hr>
    <h4>Personal Info:</h4><hr>
    Full Name : Muiz Ahmed Khan<br>
    Occupation : Student<br>
    Nationality : Bangladeshi<br>
    Blood Group : A+<br>
    Date of Birth : 30th November,1994<br>
    Lives in : Kawla,Kurmitola,Dhaka.<br>
    HomeTown : Rangpur<br>
    Height : 5'6''<br>
    Weight : 120 lbs<br>
    Skin tone : Average<br>
    Hair : Black<br>
    Facial hair : N/A<br>
    Health : Slim<br>
    Hand : Righty<br>
    Leg : Lefty<br>
    Glasses : Yes<br>
    Tattoos/Rings : N/A<br>
    Smoker : No<br>
    Alcoholic : No<br><hr>

    <h4>Education:</h4><hr>
    <h5>School Life</h5><br>
        Schools :<br>
        <ol>
              <li>  Al-Khaled Pre-kinder Garten School (2000-01)</li>
              <li> Shaheed Anwar Girls school (2002-03) </li>
              <li>  Adamjee Cantonment Public School (2004-12) </li>
        </ol>

    Passed S.S.C(from) : Adamjee Cantt. Public School (2012)<br><br>

    <h5>College life</h5><br>
    College : Adamjee Cantonment College (2012-13)<br><br>

    Passed H.S.C(from) : Adamjee Cantt. College (2014)<br><br>

    <h5>University life: (2015-present)</h5><br>
    University (UG) : North South University<br><br>
    BS.c in Computer Science and Engineering.<br>
    Admitted : Summer '15<br><hr>

    <h4>Favourites:</h4><hr>

    **Sports : Football<br>
    International team : Argentina<br>
    League : Barclays English Premier League<br>
    Football Club : Manchester United<br>
    Player : Ryan Giggs<br>
    Coach/Manager : Sir Alex Ferguson<br>
    Commentator : Martin Tylor<br>

    **Music : Metal<br>
    Band (International) : Iron maiden<br>
    Band (Bangladeshi) : Warfaze<br>
    Guitarist : John Petrucchi (Dream Theater), Ibrahim Ahmed Kamal (Warfaze)<br>
    Vocalist : Ronnie James Dio (Blacksabbath, Dio, Rainbow), Sunjoy (Ex-Warfaze)<br>
    Bassist : Steve Harris (Iron Maiden), Bassbaba Sumon (Aurthohin)<br>
    Drummer : Mike Protnoy (The Winery Dogs), Raef Al-Hasan Rafa (Aurthohin)<br>
    Keyboardist : Jordan Rudess (Dream Theater), Romel Ali.<br>

    **Movies : Hollywood<br>
    Genres : Thriller,Action,Comedy etc.<br>
    Actor : Leonardo DiCaprio<br>
    Actress : Emma Stone<br>
    Villain : Joker<br>
    Director : Christopher Nolan<br>
    Writer : Stephen King<br>
    Fav. Movie : The Shawshank Redemption<br>

    **Hobby : All about Music<br>
    **Color : Black<br>
    **Food : Biriyani<br>
    **Game : Fifa (any)<br>
    **TV Show : Game Of Thrones, Sherlock, Top gear, The Walking dead, Breaking bad, Big Bang Theory, Prison Break,
    Dexter, Two and a half men etcetera.<br><hr>

    <h4>I HATE : (No Offense to anyone)</h4><hr>

    Music : Bollywood & Rap/pop Music<br>
    Movie : Bollywood & Other Indian movies<br>
    Cricket Team : India<br>
    Football Team : Germany<br>
    Football Club : Manchester City<br>
    Food : Vegetables<br>
    TV Show : Indian Serials (Both hindi & bangla)<br><hr>

    <h4>Bad Sides of mine (Self-assessed):</h4><hr>

    Introvert : Yes<br>
    Moody : Depends<br>
    Friendly : Depends on you<br>
    Ego : High<br>
    Emotional : Not at all <br>
    Selfish : Sometimes<br>
    Talking : Don't like much<br>
    Bad Jokes : Yes :P<br>

    <br><br>
    Thank you,<br>
    Muiz Ahmed Khan<br>
    ©2009-18<br>

</div>

{% endblock %}